body {
  margin: 0;
  min-width: 250px;
}


/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#editTitle, #editContent {
  width: 25%;
}

a:hover, a:visited, a:link, a:active {
  color: #000000;
  text-decoration: none;
}

/* Darker background-color on hover */
table td:hover, table tr:hover {
  background: #ddd;
}

table th {
  background: white;
}

#deleteBtn, .completeBtn, .editBtn {
  float: left;
}

/* Shows the edit button on hover */
table td:hover > #deleteTask {
  display: block;
}
/* Style the header */
.header {
  background-color: #6200EE;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Extends the color scheme when the header extends */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button and "Show" button */
.addBtn {
  padding: 10px;
  width: 100%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
.showBtn, .refreshBtn {
  width: 100%;
  background: #d9d9d9;
  text-align: center;
  color: #555;
  font-size: 20px;
  transition: 0.3s;
  border-radius: 0;
}

/* Styles the Add Button */
.addBtn:hover {
  background-color: #bbb;
}

/* Styles the Show/hide button */
.showBtn:hover {
  background-color: #bbb;
}
