body {
  margin: 0;
  min-width: 250px;
}


/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  word-break: break-word;
}

#editTitle, #editContent {
  width: 25%;
}

a:hover, a:visited, a:link, a:active {
  color: #000000;
  text-decoration: none;
}

/* Darker background-color on hover */
table td:hover, table tr:hover {
  background: #ddd;
}

table th {
  background: white;
}

#deleteBtn, .completeBtn, .editBtn {
  float: left;
}

/* Shows the edit button on hover */
table td:hover > #deleteTask {
  display: block;
}
/* Style the header */
.header {
  background-color: #6200EE;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Extends the color scheme when the header extends */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button and "Show" button */
.addBtn {
  padding: 10px;
  width: 100%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.home-button {
  width: 100%;
  background: #d9d9d9;
  text-align: center;
  color: #555;
  font-size: 20px;
  transition: 0.3s;
  border-radius: 0;
}

.home-button:hover {
  background-color: #c1c1c1; 
}

#filter-container {
  background: #d9d9d9;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.filter-button {
  text-align: center;
  font-size: 20px;
  border-radius: 0;
  flex: 1; 
}

/* Styles the Add Button */
.addBtn:hover {
  background-color: #bbb;
}

/* Styles the Show/hide button */
.showBtn:hover {
  background-color: #bbb;
}

.edit-title {
  padding-right: 35px;
}

.edit-content {
  padding-right: 35px;
}

.editBtn {
  position: absolute;
  margin-left: -31px;
  margin-top: -3px;
  padding: 12px 9px;
}

.add-task-btn {
  position: absolute;
  margin-top: -22px;
  padding: 12px 14px;
}

#show-all {
  background-color: #90d0ee;
}

#show-all:hover {
  background-color: #6ca1b9;
}

#show-inc {
  background-color: #ee9090;
}

#show-inc:hover {
  background-color: #b45b5b;
}

#show-comp {
  background-color: #90ee90;
}

#show-comp:hover {
  background-color: #81c281;
}